<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="table--layout-0">
	<tr>
		<td>
			<f:translate key="tx_entity_domain_model_entity.title" />
		</td>
		<td>
		{entity.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_entity_domain_model_entity.slug" />
		</td>
		<td>
		{entity.slug}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_entity_domain_model_entity.master_category" />
		</td>
		<td>
		{entity.masterCategory}
		</td>
	</tr>
</table>
</html>
