<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Entity:
          List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">

    <f:flashMessages />

    <header class="ce-header ce-header--layout-1"><h1>Entities</h1></header>

    <table  class="table--layout-0" >
        <tr>
            <th><f:translate key="tx_entities_domain_model_entity.title" /></th>
        </tr>

        <f:for each="{entities}" as="entity">
            <tr>
                <td><f:link.action action="show" arguments="{entity: entity}">{entity.title}</f:link.action></td>
            </tr>
        </f:for>
    </table>
</f:section>
</html>
